version: '3'
services:
    api_test:
        container_name: api_test
        build: dockerfiles
        image: api_test
        volumes:
            - ../:/data/www/apitest
            - ./logs:/var/log/nginx
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        ports:
            - 8081:80
        command: 
            - /bin/sh
            - -c
            - sh /start.sh

    api_mysql:
        container_name: api_mysql
        image: mysql:5.7
        restart: always
        ports:
            - 33061:3306
        environment:
            - TZ=Asia/Shanghai
            - MYSQL_ROOT_PASSWORD=root
            - MYSQL_DATABASE-api_test
        volumes:
            - api_data:/var/lib/mysql
            - ./mysqlconf:/etc/mysql/conf.d

    api_redis:
        container_name: api_redis
        restart: always
        image: redis:5.0
        ports:
            - 63791:6379

volumes:
    api_data: